@charset "utf-8";


@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
    url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    margin: 2px 40px 40px 40px;
}

/* SKELETON */

.clIabs {
    padding-bottom: 5px;
}


.clMain-content {
    width: 1175px;
    margin: auto;
    clear: both;
}

.clMain-header {
    height: 200px;
}

.clMain-header-left {
    float: left;
    width: 970px;
    height: 192px;
}

.clMain-header-right {
    background-color: #E0E0E0;
    float: right;
    width: 185px;
    height: 200px;
    text-align: center;
}

.clBanner-logo {
    float: left;
    width: 480px;
    padding-top: 20px;
}

.clBanner-find {
    float: right;
    width: 485px;
    padding-top: 14px;
}

.clDate {
    float: left;
    width: 230px;
    margin-top: 75px;
    text-align: right;
}

.clSearchVersions {
    float: right;
    width: 250px;
}

.clMain-menu {
    width: 1175px;
    height: 27px;
    margin: 0px;
    padding: 0px;
}

.lsMain-menu {
    text-align: left;
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 1175px;
    border-top-color: #CA170D;
    border-top-style: solid;
    border-top-width: 2px;
    display: table;
    font-family: 'roboto_condensedregular';
}

.lsMain-menu li {
    display: table-cell;
    margin: 0px;
    color: #424242;
    font-size: 14px;
    padding-right: 11px;
    padding-bottom: 3px;
    padding-left: 9px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 2px;
}

li#lsMain-menu-inicio:hover {
    background-color: #CA170D;
    border-top-color: #CA170D;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-politica:hover { 
    background-color: #e4aa0d;
    border-top-color:#e4aa0d;
    border-top-style:solid;
    border-top-width:2px;
    color:#FFF;
    cursor:pointer;
}

li#lsMain-menu-economia:hover { 
    background-color: #925cb8;
    border-top-color: #925cb8;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-mundo:hover { 
    background-color: #346fa7;
    border-top-color: #346fa7;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-estados:hover { 
    background-color: #009cb3; 	
    border-top-color: #009cb3;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-capital:hover { 
    background-color: #3f8082;
    border-top-color: #3f8082;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-sociedad:hover { 
    background-color: #b37600;
    border-top-color: #b37600;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-ciencias:hover { 
    background-color: #059f5f;
    border-top-color: #059f5f;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-cultura:hover { 
    background-color: #87bc4a;
    border-top-color: #87bc4a;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-espectaculos:hover { 
    background-color: #d36aa3; 	
    border-top-color: #d36aa3;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-deportes:hover { 
    background-color: #ee8623; 	
    border-top-color: #ee8623;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-multimedia:hover { 
    background-color: #e15833;
    border-top-color: #e15833;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

li#lsMain-menu-especiales:hover { 
    background-color: #d12b69; 	
    border-top-color: #d12b69;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFF;
    cursor: pointer;
}

#idMainBodyContainer {
    clear: both;
    width: 1175px;
    height: auto;
}
#portal-column-content {
    clear: both;
    width: 1175px !important;
   /* height: 1550px;*/
}

.clMain-body-up {
    clear: both;
    width: 1175px;
    height: 775px;
}

.clMain-body-up-carousel {
    border: 1px dotted gray;
    float: left;
    width: 970px;
    height: 775px;
}

.clMain-body-up-advertising {
    float: right;
    width: 185px;
    height: 775px;
}

.clMain-body-down {
    clear: both;
    width: 1175px;
    height: auto;
    margin-top: 20px;
}

.clBody-down-left {
    border: 1px dotted transparent;
    float: left;
    width: 470px;
    height: auto;
    margin-top: -450px;
}

.clBody-down-middle {
    border: 1px dotted transparent;
    margin-left: 510px;
    width: 255px;
    height: auto;
}

.clBody-down-right {
    border: 1px dotted transparent;
    float: right;
    width: 370px;
    height: auto;
}

.clMain-photogalleries {
    background-color: #2F2F2F;
    height: 370px;
    margin-top: 45px;
    clear: both;
}

.clMain-advertising-bottom {
    height: 260px;
    margin-top: 30px;
}

.clMain-footer {
    height: 176px;
    background-color: #2F2F2F;
}

/* END SKELETON  */

.fechasitio {
    font-size: 12px;
    vertical-align: text-bottom;
}

.letra_sitio {
    font-size: 15px;
    vertical-align: text-bottom;
}

.cajabusca {
    width: 233px;
    border-style: outset;
    border-color: #999;
    border-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #999;
    border-bottom-width: 2px;
}

.clList-info {
    display: table-row;
}

.clLi-info {
    display: inline;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: roboto_condensedregular;
    font-size: 15px;
}

.clSpan-info {
    color: white;
    margin: 37px;
    
}

.clCopyright {
    float: left;
    color: white;
    font-family: roboto_condensedregular;
    font-size: 11px;
    padding-left: 40px;
    padding-top: 40px;
}

.clLogoFooter {
    float: right;
    padding-right: 25px;
    padding-top: 70px;
}

.clLi-info a {
    color: #fff;
    text-decoration: none;
}

.clMicrositios {
    padding-left: 5px;
    margin-bottom: 30px;
}

.imgBannerMicrositio {
    height: 33px;
    width: 150px;
    border: 0;
    margin-right: 50px;

}

.clAdvertising-bottom {
    float: left;
    
}

.clAdsJornadaMovil {
    float: right;
}

.clIconsMovil {
    float: left;
    font-family: Times;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-align: right;
}

.clUlMovil {
    display: table;
}

.clLimovil {
    display: table-cell;
}

.clAdsMovilBlock {
    height: 90px;
    margin-bottom: 20px;
}

.clFooterFiliales .liFooterFiliales {
    display: inline;
    font-family: Times;
    font-size: 10px;
    padding: 1em 5px;
    text-align: right;
}

.clFooterMediosAsociados .liFooterMediosAsociados {
    display: inline;
    font-family: Times;
    font-size: 10px;
    text-align: right;
}

/* BITÁCORA DE FOTOS */

.clTitlePhotogallery {
    padding-top: 10px;
    padding-left: 20px;
}

.clBulletPhotogallery {
    float: left;
    background-color: #fff;
    width: 45px;
    height: 25px;
    margin-top: 10px;
}

.clTextTitlePhotogallery {
    float: left;
    margin-left: 5px;
    color: #fff;
    font-family: roboto_condensedregular;
    font-size: 32px;
}

/* END BITÁCORA DE FOTOS */

/* Adjusting Body up */

.tile-edge{
    border: 0px !important;
    width: 970px;
}

/* Left */
div.position-14 {
    margin-left: -16.375%;
}


/* Right */
div.position-14 {
    margin-left: -15.375% !important;;
}

div.width-14 {
    width: 83.25% !important;
}

div.position-0 {
    margin-left: -99.875%;
}

/* End Adjusting Body up */
/*
div.row {
    height: 775px !important;
}

#viewlet-above-content {
    display:none;
}

#content {
    margin-bottom: -7px;
}

.vtv-nitf-data {
    padding-bottom: 20px;
}

.clArticleSecondary h1 {
    font-size: 22px !important;
    line-height: 130% !important;
    margin-bottom: 10px !important;
}

#content a:link, dl.portlet a:link {
    border-bottom: 0.1em solid #CCCCCC;
    color: #3E3F3B !important;
}

.clSpanImageSecondary img {
    float: left;
    height: 150px !important;
    padding-right: 10px;
    width: 240px !important;
}

.clArticleSecondary p {
    bottom: 0;
    color: #000000;
    font-size: 13px;
}

.credito-primera {
    border-bottom: 1px solid #626366;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 14px;
    overflow: hidden;
    padding-bottom: 2px;
    position: relative;
    top: 1.11px;
    white-space: nowrap;
    width: 75%;
}*/

.titulo_nota{

    color:#163F78;
    font-weight:bold;
    font-size:26px;
    font-family:"Times New Roman", Times, serif
    
}

.contenido_nota{
    
    font-size:16px;
    font-family: roboto_condensedregular;

}

.pie_nota{

    font-size:10px;
    font-family:"Times New Roman", Times, serif
   
}

/* Principal Viewlet Carousel News */

.galleria-container {

    height: 770px !important;

}

/* End Principal Viewlet Carousel News */

/* Portlets columns */
div.position-1\:4 {

    margin-left: -99.875% !important;

}

div.position-3\:4 {

    margin-left: -31.875% !important;
    margin-top: 810px;
    width: 370px;

}

.clDivHeadVideos {
    background-image: url('../imagenes/videos_title.png');
    background-repeat: no-repeat;
    height: 35px;
}

.tile-video-description {
    background-color: #585858;
    font-family: sans;
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
    padding: 10px;
    line-heigth: 18px;

}

.clDivVideosThumb {
    width: 370px;
    height: 150px;
    background-color: #E0E0E0;
}

.clUlVideosThumb {
    display: table;
    width: 370px;
}

.clLiVideosThumb {
    display: table-cell;
}

.contenido_nota {
    font-size:14px;
    color:#848484;
    margin-right:10px;
}

/* End portlets columns */

.nitf_description{


    font-size:18px !important;
    font-family: roboto_condensedregular !important;
    color:#000 !important;

}
